.about {
  width: 100%;
  height: auto;
}
.about-container {
  width: 100%;
  padding: 60px 70px;
  height: auto;
}

.about-content {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
}
.left-content {
  width: auto;
}

.about-content img {
  height: auto;
  width: auto;
}
.right-content {
  width: 60%;
}
.right-content h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
}

.paragraph {
  margin-top: 30px;
}

.right-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
}
.content {
  width: 100%;
  margin-top: 50px;
  background-color: #ececec;
  padding: 50px 0px;
}

.content .about-h1-title,
.content-2 .about-h1-title {
  width: 100%;
  padding: 0px 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.content .about-h1-title h1,
.content-2 .about-h1-title h1,
.content .skills h1 {
  font-size: 24px;
  font-weight: 800;
  list-style: 29.05px;
}

.about-title-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-p-title .contact-details,
.about-h1-title .contact-details {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-details-content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 50px;
}

.about-p-title {
  width: 100%;
  padding: 0px 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.about-p-title .exprience,
.about-h1-title .exprience {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-2 {
  margin-top: 50px;
}

.content .skills {
  padding: 0px 70px;
}

.skills-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.skills-content {
  width: 45%;
  margin-top: 50px;
}

.skills-content p,
.about-p-title .contact-details-content p {
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 400;
}
