* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.header-parent {
  width: 100%;
  height: auto;
  padding: 40px 20px;
  position: relative;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 29.05px;
  color: #000000;
}
.mobile {
  display: none;
}
/* responsive*/

@media only screen and (max-width: 1200px) {
  .navbar a {
    font-size: 20px;
  }
  .header-parent img {
    width: 100px;
  }
}

@media screen and (min-width: 600px) {
  div.example {
    font-size: 80px;
  }
}

@media only screen and (max-width: 480px) {
  .header-parent {
    padding: 0px 0px;
  }
  .navbar {
    display: none;
  }
  .mobile {
    display: block;
    position: relative;
  }
  .mobile-hamburger {
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
  }
  .mobile-hamburger-menu {
    padding: 20px 20px;
  }

  .mobile-hamburger .hamburger {
    font-size: 30px;
  }
  .modal {
    z-index: 5;
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    transition: 0.5s ease;
    height: 100vh;
    border-radius: 20px;
    background-image: linear-gradient(
      to right top,
      #ffffff,
      #b9b9b9,
      #777777,
      #3b3b3b,
      #000000
    );
  }

  .modal .modal-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .close-icon {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 20px 20px;
  }
  .close-icon .close {
    color: #ffffff;
    font-size: 30px;
  }
  .modal-content img {
    width: 50px;
  }
  .modal-content-link {
    margin-top: 25px;
  }

  .modal-content a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 29.05px;
    color: #ffffff;
  }
}
